<!DOCTYPE html>
<html>
    <head>
        <title>Web Server</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="img/robot.jpg" class='portraite'>                
        </div>
        {{>footer}}
    </body>
</html>